<!DOCTYPE html>
<html>
<head>
  <title>Фитнес</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <h1>Фитнес</h1>
  <div class="ul2">
    <ul>
      <li><a href="/exercises">Упражнение</a></li>
      <li><a href="/diet">Диета</a></li>
      <li><a href="/stretching">Растяжка</a></li>
      <li><a href="/sign_in">Войти</a></li>
    </ul>
  </div>
  <p>
    Фитнес (англ. fitness, от to fit) – вид физических нагрузок, которые направлены на поддержание общей
    физической формы. Кроме физических нагрузок, фитнес предполагает здоровое питание. <br>
    Всё это подбирается индивидуально — в зависимости от возраста, состояния здоровья, строения и особенностей
    фигуры. Занятия фитнесом улучшают:гибкость,выносливость,силу,равновесие и координацию,реакцию и скорость.<img
      src="/images/1.jpg" width="600px "></p>

</body>

</html>