<!DOCTYPE html>
<html>
  <head>
    <title>Фитнес</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body >
    <h1>Фитнес</h1>
    <div class="ul2"><ul>
        <li><a href="exercises.ejs">Упражнение</a></li>
        <li><a href="diet.ejs">Диета</a></li>
        <li><a href="stretching.ejs">Растяжка</a></li>
        <li><a href="sign in.ejs">Войти</a></li>
      </ul></div> 
  </body>
</html>
